{
	"presets": [
      ["es2015", { "modules": false }],
      "react",
      "stage-0"
    ],
	"plugins": [
		[
			"transform-decorators-legacy",
			"transform-runtime",
			{
				"helpers": false,
				"polyfill": false
			}
		]
	],
	"env": {
		"test": {
			"presets": [["env", {
				"modules": "commonjs"
				}]]
			}
		}	
}
