{
  "plugins": [
    "transform-class-properties",
    "syntax-decorators",
    "transform-decorators-legacy"
  ],
  "presets": [
    ["es2015", { "modules": false }],
    "react",
    "stage-0"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
