{
	parser: "babel-eslint",
	extends: "eslint-config-airbnb",
	env: {
		"browser": true,
		"node": true,
		"mocha": true
	},
	plugins: [
		"react", "import"
	],
	"settings": {
		"import/resolver": {
			"webpack": {
				"config": "webpack/webpackConfigDev.js"
			}
		}
	},
	"rules": {
		"import/no-extraneous-dependencies": 0,
		"react/jsx-filename-extension": 0,
		"react/require-default-props": 0,
		"max-len": 0,
	},
}
