.post {
  background-color: white;
  margin: 0.8em;
  padding: 1em;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);

  .author {
    font-weight:600;
  }

  .date {
    font-size:0.8em;
    color: #b1b0b1;
  }

  .toxicity {
    color:red;
  }

  .post-header{
    display: inline-block;

  }

  .avatar {
    display: inline-block;
    padding: 0.4em;
  }

  .post-header-details {
    display:inline-block;
  }

  .post-inner-content {
    width: 100%;
    padding: 1em;
    text-align: center;
  }

  .post-inner-content video {
    max-width: 100%;
  }

}
