$post-footer-height:40px;
.post {
  //margin: 0.8em;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);

  .author {
    font-weight:700;
    font-size: 20px;
  }

  .img-circle {
    height:40px;
  }

  .date {
    font-size:12px;
    color: $text-color;
    //position: absolute;
    //right: 0;
    //top:0;
    //padding: 30px;
    font-weight: 100;
  }

  .toxicity {
    color:red;
  }

  .post-header{
    display: inline-block;
    padding-bottom: 1em;


  }

  .avatar {
    display: inline-block;
    padding: 0.4em;
  }

  .post-header-details {
    display:inline-block;
    margin-left: 15px;
    vertical-align: middle;
  }

  .post-inner-content {
    width: 100%;
    //padding: 1em;
    text-align: center;
  }

  .post-inner-content video {
    max-width: 100%;
  }

  .front {
    position:relative;
  }
$post-padding: 30px;
  .post-content {
    padding:$post-padding;
    padding-bottom: $post-padding + $post-footer-height;
  }

  .post-footer {
    //position: absolute;
    width: 100%;
    background-color: $color2;
    padding: 0.4em;
    text-align: center;
    bottom:0px;
    position: absolute;
    height:$post-footer-height;
    vertical-align: middle;
  }

}


.flip-container {
  @include transform(perspective(900px));
  //@include transform-style(preserve-3d);
  perspective: 900px;
  // for safari blur
  transform: translateZ(0);
}

.flipper.flipped {
  @include transform(rotateY(180deg));
}

.flipper {

  @include transition(0.8s);
  @include transform-style(preserve-3d);


  position: relative;
}

.front, .back {
  @include backface-visibility(hidden);

  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
}

.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

.back {
  @include transform(rotateY(180deg));

  text-align:center;
  width:100%;
  height: 100%;
}

.back-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: $color1;

  .icon{
    font-size:2em;
    margin-right: -4px;
    vertical-align: middle;
  }
  .explanation {
    display:inline-block;
    padding-left: 1em;
    padding-right:1em;
  }
}

.post-inner-content div> img {
  max-width: 100%;
}

.source-icon, .source-icon:hover{
   float: left;
   font-size: 20px;
   color: #fff;
   text-decoration: none;
 }


.footer-text {
  color: $text-color;
  float: right;
  margin-right:1em;
  border-bottom: 1px dotted $text-color;
  text-decoration: none;
}

.footer-text:hover {
  color: darken($text-color, 20%);
  text-decoration: none;
}

.footer-content {
  line-height:$post-footer-height / 2;
  padding: $post-footer-height / 8;
}

.post-container {
  padding-bottom: 20px;

  max-width: 900px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .post-container {
    padding-bottom: 0.3em;
  }

  .post {
    margin:0;
  }
  
}

.post-content-text {
  font-size:15px;
}


.twitter-tweet{
  margin: 0 !important;
}
[id^="twitter-widget-"]::shadow div.Tweet-brand {
  display: none;
}

.tweet-InformationCircle::shadow {
  display: none !important;
}

// post action:
.post-actions-list {
  padding-top:10px;
  .action {
    padding:0 40px 0 0;
    .action-icon {
      display: inline-block;
      &.icon-twitter_retweet {
        min-width: 24px;
      }
    }
    .action-count {
      padding-left:4px;
    }
  }
}

.link-card {
  text-align: left;
  margin-top: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);


  img {
    height: auto;
    min-height: initial;
    width: 100%;
  }

  .link-text {
    padding: 1.2em;
  }

  .link-caption {
    font-weight: 700;
    font-size: 1.3em;
    padding-botton: 0.3em;

  }

  .link-description {

  }

  .link-name {
    padding-top: 1em;
    font-size: 0.7em;

  }

}
