language:
  - python
python:
  - "2.7"
before_install:
  - nvm install 10.13.0
stages:
- PR checks ✅
install:
  - make requirements-local.py
  - npm install
jobs:
  include:
  - stage: PR checks ✅
    env:
    - NAME=Unit Tests
    script: cd client && npm run test
  - stage: PR checks ✅
    env:
    - NAME=Validation Checks
    script: "./.travis/validate_changes_for_merge.sh"
