#landing-page {

	.content {
		max-width: 690px;
		margin: 0 auto;
		padding-bottom: 3em;
		padding-top: 80px;

		@media (max-width:600px) {
			padding-top: 10px;
			margin: 10px;
		}
	}

	h1 {
		color:#000;
		font-size: 30px;
	}

	h2 {
		font-size:20px;
		color:#000;
	}

	h3 {
		font-size: 1em;
	}

	a {
		color: $button-color;
	}

	Button {
		background-color: $button-color;
		color: #fff;
		width: 100%;
		padding: 12px;
		margin: 8px 0;
		font-weight: 700;
		font-size:20px;
		border-radius: 0;
	}
}
