@import "~normalize.css";

@import url('https://fonts.googleapis.com/css?family=Eczar|Work+Sans|Khula:300,400,700');
@import "./palette.scss";
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

$navbar-default-bg: $color1;
$navbar-default-color: #fff;



@import "~bootstrap-sass/assets/stylesheets/bootstrap";

$navBackground: $color1;
$navColor: white;
$background: lighten($color5, 20%);
$titleFont: 'Eczar', serif;

* {
	box-sizing: border-box;
}


body {
	margin: 0;
	padding-top: calc(2em + #{$navbar-height});
	width: 100vw;
	overflow-x: hidden;
	background-color: $background;
	font-family: -apple-system, "Khula","BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 300;
}

.no-script {
	display: block;
	padding: 2em;
	text-align: center;
}

h1,h2,h3,h4,h5,h6 {
	font-family:'Eczar', serif;
	font-weight: 500;
}

h1 {
	font-size: 2em;
}

.page {
	padding: 0em 2em;
	word-break: break-all;
}

.card {
	text-align: left;
	background-color: white;
	text-decoration: none;
	margin: 1em;
	padding: 3em;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);
	overflow: hidden;
	display: inline-block;
	position: relative;
}

button {
	display: inline-block;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	padding: 0 10px;
	vertical-align: middle;
	font-size: 14px;
	min-width: 30px;
	min-height: 30px;
	line-height: 30px;
	margin: 0.3em;
}

// While there is some elegance to having components import their own .scss files,
// and while this compiles just fine with webpack - I choose to import all of the scss files
// into this main app.scss so that constants (e.g. $darkColor) can be used throughout.
@import "./appLoading.scss";
@import "./colors.scss";
@import "./flexMixins.scss";
@import "../NoMatch/nomatch.scss";
@import "../Nav/nav.scss";
@import "../Landing/landing.scss";
@import "../Input/input.scss";
@import "../Input/inputError.scss";
@import "../Input/passwordValidator.scss";
@import "../Register/register.scss";
@import "../Loader/loader.scss";
@import "../Post/post.scss";
@import "../Settings/Settings.scss";

