@import "~normalize.css";

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,600,700,800,900,900i');

@import url("https://p.typekit.net/p.css?s=1&k=ydk3zvt&ht=tk&f=10881.10882.10884.10885.10886.15357.15358.15361.15362.32874.32875&a=22079295&app=typekit&e=css");

@font-face {
	font-family:"futura-pt";
	src:url("https://use.typekit.net/af/309dfe/000000000000000000010091/27/l?subset_id=2&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/309dfe/000000000000000000010091/27/d?subset_id=2&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/309dfe/000000000000000000010091/27/a?subset_id=2&fvd=n7&v=3") format("opentype");
	font-style:normal;font-weight:700;
}

@font-face {
	font-family:"futura-pt";
	src:url("https://use.typekit.net/af/eb729a/000000000000000000010092/27/l?subset_id=2&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/eb729a/000000000000000000010092/27/d?subset_id=2&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/eb729a/000000000000000000010092/27/a?subset_id=2&fvd=i7&v=3") format("opentype");
	font-style:italic;font-weight:700;
}

@font-face {
	font-family:"futura-pt";
	src:url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/l?subset_id=2&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/d?subset_id=2&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/a?subset_id=2&fvd=n4&v=3") format("opentype");
	font-style:normal;font-weight:400;
}

@font-face {
	font-family:"futura-pt";
	src:url("https://use.typekit.net/af/cf3e4e/000000000000000000010095/27/l?subset_id=2&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/cf3e4e/000000000000000000010095/27/d?subset_id=2&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/cf3e4e/000000000000000000010095/27/a?subset_id=2&fvd=i4&v=3") format("opentype");
	font-style:italic;font-weight:400;
}

@font-face {
	font-family:"futura-pt";
	src:url("https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
	font-style:normal;font-weight:300;
}

@font-face {
	font-family:"futura-pt-condensed";
	src:url("https://use.typekit.net/af/6f8764/000000000000000000012039/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/6f8764/000000000000000000012039/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/6f8764/000000000000000000012039/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
	font-style:normal;font-weight:400;
}

@font-face {
	font-family:"futura-pt-condensed";
	src:url("https://use.typekit.net/af/082b7c/00000000000000000001203a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/082b7c/00000000000000000001203a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/082b7c/00000000000000000001203a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
	font-style:italic;font-weight:400;
}

@font-face {
	font-family:"futura-pt-condensed";
	src:url("https://use.typekit.net/af/64e0cf/00000000000000000001203d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/64e0cf/00000000000000000001203d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/64e0cf/00000000000000000001203d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
	font-style:normal;font-weight:700;
}

@font-face {
	font-family:"futura-pt-condensed";
	src:url("https://use.typekit.net/af/e6a9c1/00000000000000000001203e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/e6a9c1/00000000000000000001203e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/e6a9c1/00000000000000000001203e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
	font-style:italic;font-weight:700;
}

@font-face {
	font-family:"futura-pt-bold";
	src:url("https://use.typekit.net/af/053fc9/00000000000000003b9af1e4/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/053fc9/00000000000000003b9af1e4/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/053fc9/00000000000000003b9af1e4/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
	font-style:normal;font-weight:700;
}

@font-face {
	font-family:"futura-pt-bold";
	src:url("https://use.typekit.net/af/72575c/00000000000000003b9af1e5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/72575c/00000000000000003b9af1e5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/72575c/00000000000000003b9af1e5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
	font-style:italic;font-weight:700;
}

$purple: rgb(61, 28, 89);
$red: rgb(195, 45, 67);
$orange: rgb(217, 133, 45);
$green: rgb(62, 148, 114);
$light-gray: #dddddd;

$primary-color: $purple;
$secondary-color: $orange;
$additive-color: $green;
$filter-color: $orange;
$inverse-text-color: white;

$btn-primary-bg-color: $primary-color;
$btn-primary-text-color: $inverse-text-color;

$additive-rule-color: $green;
$filtered-rule-color: $purple;

$header-color: black;

$nav-color: $primary-color;
$nav-border-color: $light-gray;

$background-color: #efefef;
$text-color: #787878;

$dark-blue: #080533;

$background: $background-color;

$navbar-height: 60px;

$input-height: 70px;
$input-font-size: 16px;

$icon-font-path: "/bootstrap-fonts/";
@import "~bootstrap-scss/bootstrap";

// ---- icons -----
$font-path: "/custom-icons/fontello";
$font-name: "33540572";

$spacer-small: $spacer;
$spacer-medium: $spacer * 1.5;
$spacer-large: $spacer * 2;

@font-face {
	font-family: 'fontello';
	src: url('#{$font-path}.eot?#{$font-name}');
	src: url('#{$font-path}.eot?#{$font-name}#iefix') format('embedded-opentype'),
	url('#{$font-path}.woff2?#{$font-name}') format('woff2'),
	url('#{$font-path}.woff?#{$font-name}') format('woff'),
	url('#{$font-path}.ttf?#{$font-name}') format('truetype'),
	url('#{$font-path}.svg?#{$font-name}#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Wifontello-codes.cssndozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?83789668#fontello') format('svg');
  }
}
*/

.tk-futura-pt { font-family: "futura-pt",sans-serif; }
.tk-futura-pt-condensed { font-family: "futura-pt-condensed",sans-serif; }
.tk-futura-pt-bold { font-family: "futura-pt-bold",sans-serif; }

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

* {
	box-sizing: border-box;
}


body {
	@extend .tk-futura-pt;
	font-size: 16px;
	margin: 0;
	width: 100vw;
	overflow-x: hidden;
	background-color: $background;
	color: $text-color;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
}

.content-with-nav {
	padding-top: $navbar-height;
	@include media-breakpoint-up(md) {
		padding-top: $navbar-height;
	}
}

.no-script {
	display: block;
	padding: 2em;
	text-align: center;
}

h1,h2,h3,h4,h5,h6 {
	@extend .tk-futura-pt-bold;
}

h1 {
	font-size: 2em;
}

label {
	margin-bottom: $spacer * 0.25;
}

.page {
	padding: 0em 2em;
}

.card {
	text-align: left;
	background-color: white;
	text-decoration: none;
	margin: 1em;
	padding: 3em;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);
	overflow: hidden;
	display: inline-block;
	position: relative;
}

button {
	@include transition(all 0.2s ease-in-out);
	user-select: none;
	display: inline-block;
	position: relative;
	border: none;
	border-radius: 30px;
	background: $btn-primary-bg-color;
	color: $btn-primary-text-color;
	letter-spacing: 1.5px;
	height: 40px;
	padding: 0px;
	padding-left: $spacer-large;
	padding-right: $spacer-large;
	-webkit-font-smoothing: subpixel-antialiased;
	cursor: pointer;
	white-space: nowrap;
	line-height: 30px;
	margin: 0.3em;

	&.button_wide {
		width: 100%;
		margin: 20px 0 0 0;
		height: 50px;
	}

	&.button_delete {
		background: $red;
		&:hover,
		&:focus {
			background: darken($red, 10%);
		}
		&:active,
		&.active {
			@include box-shadow(none);
			background: darken($red, 20%);
		}
	}

	&:disabled,
	&[disabled],
	&.disabled {
		background: #fff;
		cursor: not-allowed;
		color: $btn-primary-bg-color;
		border: 1px solid  $btn-primary-bg-color;
		&:hover,
		&:focus {
			background: #fff;
			cursor: not-allowed;
			color: $btn-primary-bg-color;
			border: 1px solid  $btn-primary-bg-color;
		}
	}

	&:hover,
	&:focus {
		color: $btn-primary-text-color;
		background: darken($btn-primary-bg-color, 10%);
	}

	&:active,
	&.active {
		@include box-shadow(none);
		background: darken($btn-primary-bg-color, 20%);
	}
}

.checkbox {
  -webkit-appearance: none;
  background-color: rgba(0,0,0,0);
  border: 1px solid $text-color;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	display: inline-block;
	position: relative;
  padding: 0;
  cursor: pointer;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  height: 28px;
  width:28px;
}

.checkbox:active, .regular-checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkbox:checked {
  background-color: rgba(0,0,0,0);
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  color: #99a1a7;
}

.checkbox:checked:after {
  content: '\2714';
  font-size: 20px;
  position: absolute;
  top: 0px;
  left: 6px;
  color: $text-color;
}

.checkbox-label {
	padding-left: 1em;
	font-weight: 300;
}

.glyphicon {
	display: inline-block;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	line-height: 1;
}

a, a:hover, a:focus, a:active a:visited{
	text-decoration: none;
}

.clickable {
	cursor: pointer;
}

// While there is some elegance to having components import their own .scss files,
// and while this compiles just fine with webpack - I choose to import all of the scss files
// into this main app.scss so that constants (e.g. $darkColor) can be used throughout.
@import "./appLoading.scss";
@import "./flexMixins.scss";
@import "./fontello-codes.scss";
@import "../NoMatch/nomatch.scss";
@import "../Nav/nav.scss";
@import "../Landing/landing.scss";
@import "../Input/input.scss";
@import "../Input/inputError.scss";
@import "../Input/passwordValidator.scss";
@import "../Profile/profile.scss";
@import "../Register/register.scss";
@import "../Loader/loader.scss";
@import "../Post/post.scss";
@import "../Feed/feed.scss";
@import "../Settings/settings.scss";
@import "../About/about.scss";
