// --------------------------------------------------
// Flexbox LESS mixins
// The spec: http://www.w3.org/TR/css3-flexbox
// Guide: http://css-tricks.com/snippets/css/a-guide-to-flexbox/
// --------------------------------------------------

// Flexbox display
// flex or inline-flex
@mixin flex-display($display: flex) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
@mixin flex($columns: initial) {
  -webkit-flex: $columns;
  -moz-flex: $columns;
  -ms-flex: $columns;
  flex: $columns;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
@mixin flex-direction($direction: row) {
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
@mixin flex-wrap($wrap: nowrap) {
  -webkit-flex-wrap: $wrap;
  -moz-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
@mixin flex-flow($flow) {
  -webkit-flex-flow: $flow;
  -moz-flex-flow: $flow;
  -ms-flex-flow: $flow;
  flex-flow: $flow;
}

// Display Order
// - applies to: flex items
// <integer>
@mixin flex-order($order: 0) {
  -webkit-order: $order;
  -moz-order: $order;
  -ms-order: $order;
  order: $order;
}

// Flex grow factor
// - applies to: flex items
// <number>
@mixin flex-grow($grow: 0) {
  -webkit-flex-grow: $grow;
  -moz-flex-grow: $grow;
  -ms-flex-grow: $grow;
  flex-grow: $grow;
}

// Flex shr
// - applies to: flex itemsink factor
// <number>
@mixin flex-shrink($shrink: 1) {
  -webkit-flex-shrink: $shrink;
  -moz-flex-shrink: $shrink;
  -ms-flex-shrink: $shrink;
  flex-shrink: $shrink;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width>
@mixin flex-basis($width: auto) {
  -webkit-flex-basis: $width;
  -moz-flex-basis: $width;
  -ms-flex-basis: $width;
  flex-basis: $width;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around
@mixin justify-content($justify: flex-start) {
  -webkit-justify-content: $justify;
  -moz-justify-content: $justify;
  -ms-justify-content: $justify;
  justify-content: $justify;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch
@mixin align-content($align: stretch) {
  -webkit-align-content: $align;
  -moz-align-content: $align;
  -ms-align-content: $align;
  align-content: $align;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch
@mixin align-items($align: stretch) {
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  align-items: $align;
}

// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch
@mixin align-self($align: auto) {
  -webkit-align-self: $align;
  -moz-align-self: $align;
  -ms-align-self: $align;
  align-self: $align;
}



@mixin display($position) {
  display: block;
  position: $position;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin minSize($width, $height) {
  min-width: $width;
  min-height: $height;
}

@mixin topLeft($top, $left) {
  top: $top;
  left: $left;
}

@mixin topRight($top, $right) {
  top: $top;
  right: $right;
}

@mixin bottomLeft($bottom, $left) {
  bottom: $bottom;
  left: $left;
}

@mixin bottomRight($bottom, $right) {
  bottom: $bottom;
  right: $right;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin transform ($transform) {
  transform: $transform;
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -o-transform: $transform;
}

@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -ms-animation: $animation;
  -o-animation: $animation;
  animation: $animation;
}

@mixin scale($ratio) {
  -webkit-transform: scale($ratio);
  -moz-transform: scale($ratio);
  -ms-transform: scale($ratio);
  -o-transform: scale($ratio);
  transform: scale($ratio);
}

@mixin flexCenter() {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@mixin flexStretch() {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
}


@mixin user-select($select) {
  -webkit-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select;
  -o-user-select: $select;
  user-select: $select;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
  opacity: 0;
}

@mixin clearfix() {
  *zoom: 1;
  &:before, &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

@mixin square($size) {
  @include size($size, $size);
}

@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin transform-origin($ratio1, $ratio2) {
  -webkit-transform-origin: $ratio1 $ratio2;
  -moz-border-radius: $ratio1 $ratio2;
  transform-origin: $ratio1 $ratio2;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin transition-duration($duration) {
  -webkit-transition-duration: $duration;
  -moz-transition-duration: $duration;
  -ms-transition-duration: $duration;
  -o-transition-duration: $duration;
  transition-duration: $duration;
}

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}

@mixin scale($ratio) {
  -webkit-transform: scale($ratio);
  -moz-transform: scale($ratio);
  -ms-transform: scale($ratio);
  -o-transform: scale($ratio);
  transform: scale($ratio);
}

@mixin scale2($w, $h) {
  -webkit-transform: scale($w, $h);
  -moz-transform: scale($w, $h);
  -ms-transform: scale($w, $h);
  -o-transform: scale($w, $h);
  transform: scale($w, $h);
}

@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
  -moz-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  transform: translate($x, $y);
}

@mixin skew($x, $y) {
  -webkit-transform: skew($x, $y);
  -moz-transform: skew($x, $y);
  -ms-transform: skew($x, $y);
  -o-transform: skew($x, $y);
  transform: skew($x, $y);
}

@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
  -moz-transform: translate3d($x, $y, $z);
  -o-transform: translate3d($x, $y, $z);
  transform: translate3d($x, $y, $z);
}

@mixin backface-visibility($visibility) {
  -webkit-backface-visibility: $visibility;
  -moz-backface-visibility: $visibility;
  backface-visibility: $visibility;
}

@mixin background-clip($clip) {
  -webkit-background-clip: $clip;
  -moz-background-clip: $clip;
  background-clip: $clip;
}

@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}

@mixin box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
  -khtml-box-sizing: $boxmodel;
  -moz-box-sizing: $boxmodel;
  -ms-box-sizing: $boxmodel;
  box-sizing: $boxmodel;
}

@mixin resizable($direction) {
  resize: $direction; // Options: horizontal, vertical, both
  overflow: auto;
}

@mixin content-columns($columnCount, $columnGap) {
  -webkit-column-count: $columnCount;
  -moz-column-count: $columnCount;
  column-count: $columnCount;
  -webkit-column-gap: $columnGap;
  -moz-column-gap: $columnGap;
  column-gap: $columnGap;
}

@mixin column-width($columnWidth) {
  -webkit-column-width: $columnWidth;
  -moz-column-width: $columnWidth;
  column-width: $columnWidth;
}

@mixin column-break-inside($mode) {
  -webkit-column-break-inside: $mode;
  -moz-column-break-inside: $mode;
  break-inside: $mode;
}

@mixin column-break-after($mode) {
  -webkit-column-break-after: $mode;
  -moz-column-break-after: $mode;
  break-after: $mode;
}

@mixin hyphens($mode: auto) {
  word-wrap: break-word;
  -webkit-hyphens: $mode;
  -moz-hyphens: $mode;
  -ms-hyphens: $mode;
  -o-hyphens: $mode;
  hyphens: $mode;
}

@mixin webkit-scrollbar-light() {
  &::-webkit-scrollbar {
    width: 11px;
    background-color: transparent;
    background-clip: content-box;
  }
  &::-webkit-scrollbar-button {
    background-color: transparent;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border: solid transparent;
    border-width: 1px 1px 1px 2px;
    background-color: #c5c5c5;
    background-clip: content-box;

    &:hover {
      background-color: darken(#ccc, 5%);
    }
  }
  &::-webkit-scrollbar-track {
    border: solid #fff;
    border-width: 1px 1px 1px 2px;
    background-color: #fff;
    background-clip: content-box;
  }
  &::-webkit-scrollbar-track-piece {
    border-left: 1px solid #ccc;
    background-color: transparent;
  }

  &::-webkit-scrollbar:horizontal {
    height: 12px;
    background-color: transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-track:horizontal {
    background-color: #fff;
    background-clip: content-box;
  }
  &::-webkit-scrollbar-track-piece:horizontal {
    border-top: 1px solid #ccc;
    border-left: 1px solid transparent;
  }
  &::-webkit-scrollbar-thumb:horizontal {
    border: solid transparent;
    border-width: 2px 1px 2px 2px;
    background-color: #c5c5c5;
    background-clip: content-box;

    &:hover {
      background-color: darken(#ccc, 5%);
    }
  }
  &::-webkit-scrollbar-corner {
    display: none
  }
  &::-webkit-resizer {
    display: none;
  }
}

@mixin webkit-scrollbar-dark() {

  &::-webkit-scrollbar {
    width: 9px;
    background-color: transparent;
    background-clip: content-box;
    cursor: pointer;
  }
  &::-webkit-scrollbar-button {
    background-color: transparent;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border: solid transparent;
    border-width: 1px 1px 1px 2px;
    background-color: $sidebar-toggle-color;
    background-clip: content-box;
    cursor: pointer;

    &:hover {
      background-color: lighten($sidebar-toggle-color, 10%);
    }
  }
  &::-webkit-scrollbar-track {
    border-width: 1px 1px 1px 2px;
    background-color: $active-filter-bg;
    background-clip: content-box;
  }
  &::-webkit-scrollbar-track-piece {
    border-left: 1px solid $sidebar-toggle-color;
    background-color: transparent;
  }
}
