
.icon-left-open:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-right-open-big:before { content: '\e802'; } /* '' */
.icon-left-open-big:before { content: '\e803'; } /* '' */
.icon-corporate:before { content: '\e804'; } /* '' */
.icon-additive:before { content: '\e805'; } /* '' */
.icon-gender:before { content: '\e806'; } /* '' */
.icon-gobo_temp_logo:before { content: '\e807'; } /* '' */
.icon-toxicity:before { content: '\e808'; } /* '' */
.icon-virality:before { content: '\e809'; } /* '' */
.icon-right-dir:before { content: '\e80a'; } /* '' */
.icon-left-dir:before { content: '\e80b'; } /* '' */
.icon-twitter-comment:before { content: '\e80c'; } /* '' */
.icon-twitter-like:before { content: '\e80d'; } /* '' */
.icon-twitter_retweet:before { content: '\e80e'; } /* '' */
.icon-thumbs-up:before { content: '\e80f'; } /* '' */
.icon-facebook-comment:before { content: '\e810'; } /* '' */
.icon-comment-1:before { content: '\e811'; } /* '' */
.icon-share:before { content: '\e812'; } /* '' */
.icon-forward-outline:before { content: '\e813'; } /* '' */
.icon-facebook-share:before { content: '\e814'; } /* '' */
.icon-seriousness:before { content: '\e815'; } /* '' */
.icon-plus:before { content: '\e816'; } /* '' */
.icon-tick:before { content: '\e817'; } /* '' */
.icon-keyword-rule:before { content: '\e818'; }
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-sort-alt-up:before { content: '\f160'; } /* '' */
.icon-facebook-like:before { content: '\f164'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
