/* Coolors Exported Palette - coolors.co/1a1423-7b4b94-5f4bb6-8acdea-746d75 */

/* HSL */
$color1: hsla(264%, 27%, 11%, 1);
$color2: hsla(279%, 33%, 44%, 1);
$color3: hsla(251%, 42%, 50%, 1);
$color4: hsla(198%, 70%, 73%, 1);
$color5: hsla(293%, 4%, 44%, 1);

/* RGB */
$color1: rgba(26, 20, 35, 1);
$color2: rgba(123, 75, 148, 1);
$color3: rgba(95, 75, 182, 1);
$color4: rgba(138, 205, 234, 1);
$color5: rgba(116, 109, 117, 1);