<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="application-name" content="Gobo">
		<meta name="apple-mobile-web-app-title" content="Gobo">
		<meta name="theme-color" content="#2080FF">
		<meta name="msapplication-navbutton-color" content="#2080FF">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="msapplication-starturl" content="/">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='images/gobo_temp_logo.png') }}">
		<link rel="apple-touch-icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='images/gobo_temp_logo.png') }}">
	</head>
	<body>
		<noscript>
			<a class="no-script" href="http://enable-javascript.com/">Javascript must me enabled to use this site.</a>
		</noscript>

		<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=199136627285595";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


		<react>
			<div class="navbar-page"><div class="navbar"></div></div>
			<div id="app-loading">
				<div class="spinner">
				  <div class="bounce1"></div>
				  <div class="bounce2"></div>
				  <div class="bounce3"></div>
				</div>
			</div>
		</react>



		<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch,Intl.~locale.en"></script>
		<!--<script type="text/javascript" src="/bootstrap.min.js"></script>-->
		<script src="http://localhost:8080/bundle.js"></script>

	</body>
</html>