.sidebar {
  top: $navbar-height+20px;
  bottom: 0;
  right: 0;
  z-index: 1000;
  display: block;
  padding: 0;
  //overflow-x: hidden;
  //overflow-y: auto;
  background-color:#fff; //$color2;
  //border-left: 1px solid #8e8e8e;
  color: #8e8e8e; //$text-color;

  padding-bottom: 4em;
  position: fixed;
  right: 0;
  min-height: 100%;
  //transition: 0.5s;

  .checkbox {
    -webkit-appearance: none;
    background-color: rgba(0,0,0,0);
    border: 1px solid $text-color;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    //border-radius: 3px;
    display: inline-block;
    position: relative;
    padding: 0;
    cursor: pointer;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    height: 28px;
    width:28px;
  }

  .checkbox:active, .regular-checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
  }

  .checkbox:checked {
    background-color: rgba(0,0,0,0);//#e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
  }

  .checkbox:checked:after {
    content: '\2714';
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: 6px;
    color: $text-color;
  }

  .checkbox-label {
    padding-left: 1em;
    font-weight: 300;
  }

  *:focus{
    outline:none;
  }
}


.settings-content {
  height: 100%;
  //overflow-y: scroll;
  overflow-x: hidden;
}

.settings-header {
  height: 80px;
  color: $color1;

  h1 {
    margin: 0px;
    padding: 0px;
    padding-top: 25px;
    margin-left: 150px;
    color: $color1;
  }
}

.settings-menu {
  list-style: none;
  padding: 0;
  padding-bottom: 3em;
}

.settings-menu > li > div > a {
  //color: #c7c7c7;
  overflow: hidden;
  font-weight: 700;
}

.setting-item {
  padding: 0px;
}

.arrow-icon {
  @extend .pull-left;
  font-size: 20px;
  color: $color1;
  padding-top: 27px;
  padding-left: 30px;
}


@media (min-width: 1281px) {
  .sb-menu-icon {
    display: none;
  }
}

.sb-menu-icon {
  float: right;
  line-height: 28px;
  text-align: center;
  //color: #eeeff1;
}

.settings-menu li > div> a.menu-open + .setting-controls {
  display: block;
}
.settings-menu > li > div >  ul {
  clear: both;
  display: none;
  height: auto;

}

.settings-menu {
  button {
    color: #000;
  }
}

.filter:nth-child(odd) {
  background: #fff;
}

.filter:nth-child(even) {
  background: $color2;
}

.filter {
  width: 100%;
  //transition: 0.3s;
}

.filter-title {
  color:$color1;
}

.filter-title-text {
  vertical-align: middle;
  font-weight:600;
  font-size:1.1em;
}

.filter-title-icon {
  font-size:40px;
  vertical-align: top;
  color:$color1;
  margin-right: 0.5em;
  :before {
    margin-left: 0px;
  }
}

.filter-controls {
  padding: 1em 0;

}

.my-gender-ratio {
  margin-bottom: 10px;
  font-style: italic;
  .stat {
    color: $color1;
  }
}

.mute-men-wrapper {
  margin-top: 40px;
}

// react-slider

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%);
}
$thumb-shadow-size: 2px !default;
$thumb-shadow-blur: 2px !default;
$thumb-shadow-color: rgba(0, 0, 0, .2) !default;

$handle-height: 24px;
.slider {
  width: 100%;
  max-width: 500px;
  height: $handle-height + 2;
  margin-bottom: 2px;
  //margin-top: 1.8em;
}

.handle {
  font-size: 0.9em;
  text-align: center;
  background-color: lighten($text-color, 10%);
  color: white;
  cursor: pointer;
}
.handle.active {
  background-color: grey;
}
.bar {
  position: relative;
  background: lighten($text-color, 10%);
}

.bar.bar-1 {
  background: darken($color1, 20%);
}

.bar-gender .bar {
  background: darken($color1, 20%);
}

.bar-gender .bar.bar-1 {
  background: lighten($text-color, 10%);
}

.politics .bar {
  background: darken($color1, 20%);
}

.slider .bar {
  top: 20px;
  height: 3px;
}
.slider .handle {
  top: 10px;
  width: 10px;
  height: $handle-height;
  @include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);
}

@media (max-width: 767px) {
  .slider .handle {
    width: 20px;
  }
}

.slider.disabled {
  .bar , .bar.bar-1, .handle {
    background: $background-color;
  }
  .handle {
    @include shadow(0, 0, #fff);
  }
}

.slider-labels {
  padding-top:10px;
}

.filter-content {
  display:flex;
  //padding-top:8px;
  //padding-right:10px;
  // padding-bottom: 8px;
  padding: 30px 50px 30px 30px;
}
.filter-inner {
  width: 100%;
}

@mixin small-sidebar {
  .filter {
    height: 56px;
  }
  .setting-item {
    padding:0;
  }
  .filter-inner {
    transform: translate(100px);
    width: 314px;
  }
  .settings-menu {
    position: fixed;
  }

  .filter-inner.open{
    position:absolute;
    width: 314px; // manually determind
    right: 56px;  // width of sidebar
    transform: translate(-322px);
    background-color: inherit;
    padding: 10px;
    z-index: 100001;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  }
  .filter-controls {
    position: relative;
  }

  .filter-content{
    background-color: inherit;
    height: 56px;
    padding: 7px 1px;
  }

  .settings-header {
    h1 {
      display: none;
    }
  }
}
.filter-description {
  margin-top: 10px;
  a {
    border-bottom: 1px dotted $text-color;
    cursor: pointer;
  }
}

.checkbox-label {
  a {
    border-bottom: 1px dotted $text-color;
    cursor: pointer;
  }
}

.sidebar.minimized {
  .filter:first-of-type {
    height:88px;
  }
  .arrow-icon {
    padding-left: 0;
  }
  .filter-content {
    padding: 9px 0px;
  }
  @include small-sidebar;
}

@media (max-width: 800px) {
  .filter:first-of-type {
    display: none;
  }

  @include small-sidebar;
}

@media (max-width: 767px) {
  .sidebar {
    top: $navbar-height+10px;
  }
}
@media (max-width: 480px) {
  .sidebar {
    top: $navbar-height;
  }
}

.modal-close-button {
  position:absolute;
  top:0;
  right:0;
}

.ReactModalPortal {
  .filter-title-icon {
    vertical-align: middle;
  }
}
