$handle-color: lighten($text-color, 10%);
$sidebar-color: #fff;

.sidebar {
  top: $navbar-height;
  bottom: 0;
  right: 0;
  z-index: 1000;
  display: block;
  padding: 0;
  background-color: $sidebar-color;
  color: #8e8e8e;

  padding-bottom: 4em;
  position: fixed;
  right: 0;
  min-height: 100%;

  .filter-toggle-btn {
    background-color: $nav-color;
    height: unset;
    padding: 0;
    padding-left: $padding-small-horizontal;
  }

  *:focus{
    outline:none;
  }
}

.settings-content {
  height: 100%;
  overflow-x: hidden;
  border-style: solid;
  border-width: 0 0 0 1px;
  border-color: $nav-border-color;
}

.settings-header {
  height: 80px;
  background-color: $nav-color;

  h1 {
    margin: 0px;
    padding: 0px;
    padding-top: 25px;
    margin-left: 150px;
    color: $inverse-text-color;
  }
}

.settings-menu {
  list-style: none;
  padding: 0;
  padding-bottom: 3em;
}

.settings-menu > li > div > a {
  //color: #c7c7c7;
  overflow: hidden;
  font-weight: 700;
}

.setting-item {
  padding: 0px;
}

.arrow-icon {
  @extend .pull-left;
  font-size: 20px;
  color: $inverse-text-color;
  padding-top: 27px;
  padding-left: 30px;
}


@media (min-width: 1281px) {
  .sb-menu-icon {
    display: none;
  }
}

.sb-menu-icon {
  float: right;
  line-height: 28px;
  text-align: center;
  //color: #eeeff1;
}

.settings-menu li > div> a.menu-open + .setting-controls {
  display: block;
}
.settings-menu > li > div >  ul {
  clear: both;
  display: none;
  height: auto;

}

.settings-menu {
  button {
    color: #000;
  }
}

.filter {
  width: 100%;
  border-style: solid;
  border-width: 1px 0 0;
  border-color: $nav-border-color;
}

.filter-title-text {
  @extend .tk-futura-pt-bold;
  vertical-align: middle;
  font-size:1.1em;
}

.filter-title-icon {
  font-size:40px;
  vertical-align: top;
  margin-right: 0.5em;
  :before {
    margin-left: 0px;
  }
}

.filter-controls {
  padding: 1em 0;
}

.my-gender-ratio {
  margin-bottom: 10px;
  font-style: italic;
  .stat {
    color: $primary-color;
  }
}

// react-slider

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%);
}
$thumb-shadow-size: 2px !default;
$thumb-shadow-blur: 2px !default;
$thumb-shadow-color: rgba(0, 0, 0, .2) !default;

$handle-height: 24px;
.slider {
  width: 100%;
  max-width: 500px;
  height: $handle-height + 2;
  margin-bottom: 2px;
}

.handle {
  font-size: 0.9em;
  text-align: center;
  background-color: $handle-color;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.handle.active {
  background-color: grey;
}

.bar {
  position: relative;
  background: lighten($text-color, 10%);
}

.rule-setting .bar-1 {
  background-color: $filter-color;
}

.bar-gender .bar {
  background: $filter-color;
}

.bar-gender .bar.bar-1 {
  background: lighten($text-color, 10%);
}

.slider .bar {
  top: 20px;
  height: 3px;
}

.slider .handle {
  top: 10px;
  width: 20px;
  height: $handle-height;
  @include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);

  @media (min-width: $screen-sm-min) {
    width: 10px;
  }
}

.slider.disabled {
  .bar , .bar.bar-1, .handle {
    background: $background-color;
  }
  .handle {
    @include shadow(0, 0, #fff);
  }
}

.slider-labels {
  padding-top: 10px;
  height: 30px;

  .toggle-label {
    vertical-align: super;
    font-weight: normal;
    padding-left: $padding-small-vertical;
  }

  .react-toggle-track {
    background-color: $handle-color;
  }

  &.mute-men-wrapper {
    padding-top: 40px;
  }

}

.additive-toggles {

  height: unset;
  display: grid;

  &.additive-labels {
    height: 35px;
  }

}

.rule-toggle.react-toggle--checked .react-toggle-track {
  background-color: $green;
}

.filter-content {
  display:flex;
  padding: 30px 50px 30px 30px;
}

.rule-setting {
  .filter-icon {
    color: $filter-color;
  }
  &.filter-icon {
    color: $filter-color;
  }
}

.filter-inner {
  width: 100%;
}

$control-width: 314px; // manually determind
@mixin small-sidebar {
  .filter {
    height: 56px;
  }
  .setting-item {
    padding: 0;
  }
  .filter-inner {
    transform: translate(100px);
    width: $control-width;
  }
  .settings-menu {
    position: fixed;
  }

  .filter-inner.open{
    position: absolute;
    width: $control-width; // manually determind
    right: 56px;  // width of sidebar
    transform: translate(-322px);
    background-color: $sidebar-color;
    padding: 10px;
    z-index: 100001;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  }
  .filter-controls {
    position: relative;
  }

  .filter-content{
    background-color: inherit;
    height: 56px;
    padding: 7px 1px;
  }

  .settings-header {
    h1 {
      display: none;
    }
  }
}
.filter-description {
  margin-top: 10px;
  a {
    border-bottom: 1px dotted $text-color;
    cursor: pointer;
  }
}

.checkbox-label {
  a {
    border-bottom: 1px dotted $text-color;
    cursor: pointer;
  }
}

.sidebar.minimized {
  .filter:first-of-type {
    height:88px;
  }
  .arrow-icon {
    padding-left: 0;
  }
  .filter-content {
    padding: 9px 0px;
  }
  @include small-sidebar;
}

@media (max-width: 800px) {
  .settings-header {
    display: none;
  }

  @include small-sidebar;
}

.modal-close-button {
  position:absolute;
  top:0;
  right:0;
}

.ReactModalPortal {
  .filter-title-icon {
    vertical-align: middle;
  }

  .filter-modal-description {
    padding-bottom: $padding-small-vertical;
  }
}

$rule-height: 40px;
.rule-sparklines {
  @extend .pull-left;
  width: $control-width - 37px; // found manually
  height: $rule-height;
}

.setting-with-sparklines {
  position: relative;
  top: $rule-height / 2 - 6px;
}

.settings-rule-description-title {
  @extend .tk-futura-pt-bold;
}
