.posts {
  padding: 3em;
}

@media (max-width: 768px) {
  .posts {
    padding: 0;
  }
}

.filtered-text {
  margin: 0 auto;
  max-width: 900px;
  color: $text-color;
  padding-bottom: 1em;
}

.filtered-count {
  font-weight: 600;
}

.filtered-link {
  color: $text-color;
  border-bottom: 1px dotted $text-color;
  text-decoration: none;
}

.filtered-link:hover {
  color: darken($text-color, 20%);
  text-decoration: none;
}


.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}