$settings-width: 420px;
$settings-width-closed: 56px;

.feed {
  margin-right: $settings-width;
  width: 100%;
}

.sidebar {
  width: $settings-width;
}

@mixin wide-feed-mixin { margin-right:$settings-width-closed; }
.feed.wide {
  @include wide-feed-mixin;
}

@mixin minimized-sidebar-mixin {  width:$settings-width-closed; }
.sidebar.minimized {
  @include minimized-sidebar-mixin;
}

@media (max-width: 800px) {
  %wide { @include wide-feed-mixin; }
  %minimized { @include minimized-sidebar-mixin; }

  .feed {
    @extend %wide;
  }

  .sidebar {
    @extend %minimized;
  }
}

.posts {
  margin: $spacer-small;
  margin-left: $spacer-large * 2;
  margin-right: $spacer-large * 2;

  @media (max-width: 768px) {
    margin: 10px;
  }
}

.filtered-text {
  padding-bottom: $spacer-small;
}

.no-posts-text {
  margin: 0 auto;
  max-width: 900px;
  color: $text-color;
  font-size:1.5em;
  padding-bottom: 1em;
  font-weight: 900;
}

.filtered-count {
  font-weight: 600;
}

.filtered-link {
  color: $text-color;
  border-bottom: 1px dotted $text-color;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: darken($text-color, 20%);
    text-decoration: none;
  }
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
