$overview-height: 5px;

.overview-post {
  height: $overview-height;
  width: 1px;
  position: absolute;
  display: inline-flex;
}

.overview-post-filtered {
  background-color: $filter-color;
}

.overview-post-visible {
  background-color: $purple;

  &.overview-post-additive {
    background-color: $green;
  }
}

.overview-wrapper {
  height: $overview-height;
}
