$overview-height: 5px;

.overview-post {
  height: $overview-height;
  display: inline-flex;
}

.overview-post-filtered {
  background-color: $background-color;
}

.overview-post-visible {
  background-color: $primary-color;

  &.overview-post-additive {
    background-color: $additive-color;
  }
}

.overview-wrapper {
  height: $overview-height;
}
