$button-default-color: #fff;
.registration-screen {
  @include display(absolute);
  @include topLeft(0, 0);
  @include bottomRight(0, 0);
  min-height: 520px;
  @include animation(fadeIn .4s ease-in-out forwards);

  .status-text {
    margin: 2em 0;
    color:red;
    font-weight: bold;
    text-align: center;
  }

  .registration-form {
    @include flex-display();
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    position: relative;
    margin: 80px 0 200px 0;
    min-height: 400px;
    max-width: 100%;

    > h1 {
      @include display(relative);
      font-size: 34px;
      letter-spacing: .8px;
      font-weight: 200;
      line-height: 34px;
      margin: 0 0 40px 0;
    }

    p {
      @include display(relative);
      font-size: 16px;
      font-weight: 100;
      letter-spacing: .7px;
      color: $text-color;
    }

    .registration-description {
      margin: 0 0 30px 0;
      text-align: center;
    }

    .checkbox_group {
      @include display(relative);
      min-height: 40px;

      span {
        letter-spacing: .5px;
      }
    }

    .button-icon{
      float:right;
      font-size: 1.6em;
    }


    .button {
      @include transition(all 0.2s ease-in-out);
      @include user-select(none);
      display: inline-block;
      position: relative;
      border: none;
      border-radius: 3px;
      background: $button-default-bg;
      color: $button-default-color;
      font: normal normal 700 13px/40px 'Roboto', sans-serif;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      height: 40px;
      padding: 0px 15px;
      -webkit-font-smoothing: subpixel-antialiased;
      cursor: pointer;
      white-space: nowrap;

      &.button_wide {
        @include display(relative);
        width: 100%;
        margin: 20px 0 0 0;
        height: 50px;
        font-size: 13px;

      }

      &.button_delete {
        background: $red;
        &:hover,
        &:focus {
          background: darken($red, 10%);
        }
        &:active,
        &.active {
          @include box-shadow(none);
          background: darken($red, 20%);
        }
      }

      &.disabled {
        background: #fff;
        cursor: not-allowed;
        color: $button-default-bg;
        border: 1px solid  $button-default-bg;
        &:hover,
        &:focus {
          background: #fff;
          cursor: not-allowed;
          color: $button-default-bg;
          border: 1px solid  $button-default-bg;
        }
      }

      &:hover,
      &:focus {
        color: $button-default-color;
        background: darken($button-default-bg, 10%);
      }

      &:active,
      &.active {
        @include box-shadow(none);
        background: darken($button-default-bg, 20%);
      }
    }

    .github_link {
      @include display(relative);
      margin: 50px 0 50px 0;
      opacity: 0;
      @include animation(fadeIn .4s .3s ease-in-out forwards);

      svg {
        @include size(26px, 26px);

        path {
          @include transition(all 0.2s ease-in-out);
          fill: #545a6a;
        }
      }

      &:hover {
        svg {
          path {
            fill: $color2;
          }
        }
      }
    }
  }

  .content, form {
    width: 500px;

    @media (max-width: 700px) {
      width: 100%;
    }
  }

  hr {
    border-color:$color1;
    display: block;
    margin-top: 4em;
    padding-top: 1em;
    border-style: dotted;
  }

  .couhes-text {
    height: 500px ;
    overflow: scroll;
    background: #fff;
    text-align: center;
    padding:1em;
  }

  @media (max-width: 700px) {
    .registration-form {
      margin: 30px 3px 40px 3px;
    }

  }
}

.next-back-buttons {
  margin: 0 auto;
  text-align: center;
  padding-top: 2em;
}

.forgot-password {
  padding-bottom: $padding-large-vertical * 1.2;
}

//$-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
//$-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
//$keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
