.profile-content {
  $large-buffer: $padding-large-vertical * 2;

  max-width: 900px;
  margin: 0 auto;

  .create_account_screen {
    margin-bottom: 0px;
  }

  .profile-content {
    margin-top: $large-buffer;
  }

  .header {
    width: 450px;
    max-width: 100%;
    @media (max-width: 800px) {
      margin-top:30px;
    }
  }

  .profile-img {
    display: inline-block;
    max-height: 140px;
    vertical-align: top;
    padding-left: 20px;
    padding-top: 60px;
  }

  .profile-info {
    display: inline-block;
    padding: $large-buffer;

    h3 {
      margin-top: 0;
      padding: 0;
    }
  }

  .facebook_twitter_buttons {
    margin-bottom: $padding-large-vertical;
  }

  .profile-privacy-description {
    margin-top: $large-buffer;
  }

}
