.profile-content {
  $large-buffer: $padding-large-vertical * 2;

  max-width: 900px;
  margin: 0 auto;

  .registration-screen {
    margin-bottom: 0px;
  }

  .profile-content {
    margin-top: $large-buffer;
  }

  .header {
    width: 450px;
    max-width: 100%;
    @media (max-width: 800px) {
      margin-top:30px;
    }
  }

  .profile-img {
    display: inline-block;
    max-height: 140px;
    vertical-align: top;
    padding-top: 60px;
  }

  .profile-info {
    display: inline-block;
    padding-top: $large-buffer;
    padding-bottom: $large-buffer;

    h3 {
      margin-top: 0;
      padding: 0;
    }
  }

  .social-media-profiles {
    margin-bottom: $padding-large-vertical;

    .sm-description {
      margin-top: $padding-large-vertical;
    }

    .sm-platform {
      padding-bottom: $padding-large-vertical * 2;

      &.input_group {
        padding-top: $padding-large-vertical * 2;
      }
    }
  }

  .profile-privacy-description {
    margin-top: $large-buffer;
  }

  .mastodonSelect {
    font-size: $input-font-size;
  }

}
