#login-box {
    text-align: center;
.card {
    text-align: left;
    background-color: white;
    text-decoration: none;
    margin: 1em;
    padding: 3em;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    display: inline-block;
    position: relative;
}
    .status-text {
        margin: 2em 0;
        color:red;
        font-weight: bold;
    }
}
