.about {

	h1 {
		text-align: center;
		margin-bottom: 40px;
	}

	h2 {
		font-size: 18px;
	}

	ul {
		@extend .list-unstyled;
		li {
			padding-bottom: $padding-large-horizontal;
		}
	}

	.about-team {
		font-size: 20px;
		margin-left: auto;
		margin-right: auto;
		max-width: 300px;
	}

	.about-section {
		max-width:  $screen-sm-min;

		$spacing-between-sections: 80px;
		margin-bottom: $spacing-between-sections;
		margin-top: $spacing-between-sections;

		// center content
		float: unset;
		margin-left: auto;
		margin-right: auto;
	}

	.colored-background {
		color: $inverse-text-color;

		a {
			color: $inverse-text-color;
			border-bottom-width: 1px;
			border-bottom-style: dotted;
			border-bottom-color: $inverse-text-color;

			&:hover {
				$hover-color: darken($inverse-text-color, 15%);
				color: $hover-color;
				border-bottom-color: $hover-color;
			}
		}
	}

	.orange-background {
		@extend .colored-background;
		background-color: $orange;
	}

	.red-background {
		@extend .colored-background;
		background-color: $red;
	}

	.green-background {
		@extend .colored-background;
		background-color: $green;
	}

	.purple-background {
		@extend .colored-background;
		background-color: $purple;
	}

}

#privacy {

	.content {
		max-width: 690px;
		margin: 0 auto;
		padding-bottom: 90px;

		@media (max-width:600px) {
			// padding-top: 10px;
			margin: 10px;
		}
	}

	h1 {
		color:#000;
		font-size: 30px;
	}

	h2 {
		font-size:20px;
		color:#000;
	}

	h3 {
		font-size: 1em;
	}

	a {
		color: $btn-primary-bg-color;
	}

	Button {
		background-color: $btn-primary-bg-color;
		color: $btn-primary-text-color;
		width: 100%;
		padding: 12px;
		margin: 8px 0;
		font-weight: 700;
		font-size:20px;
		border-radius: 0;
	}

	.logos {
		position:fixed;
		right:0;
		bottom: 0;
		margin:20px;

		img {
			width:40px;
			margin: 5px;
		}
	}
}
